/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    overflow-x: hidden;
    background-image: url("/img/bg/lowcontrast.svg");
    background-size: 100% 100%;
    background-size: 100%;
    padding-top: 100px;
}

ul {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0 7% 0 7%;
    overflow: hidden;
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
    font-weight: 00;
    box-shadow: 0px 3px 3px #aaa;
    height: 10vh;
}

li {
    float: right;
}

li a {
    display: block;
    line-height: 10vh;
    color: #999;
    text-align: center;
    padding: 0 3vh 0 3vh;
    font-size: 4vh;
    font-weight: 300;
    text-decoration: none;
}

#logo {
    float: left;
    font-size: 5vh;
}

/* Change the link color to black on hover */
li a:hover {
    color: black;
}

#logo a:hover {
    
}

h1 {
    font-size: 5em;
    text-align: center;
    font-family: 'antic slab', serif;
    font-weight: 300;
    color: #333;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-weight: 300;
    color: #999;
    margin-bottom: 1em;
}

p {
    margin: 0 20% 0 20%;
    text-align: center;
    font-family: sans-serif;
    color: #999
}

/* Default styling for thumbnail div */
.thumbDiv {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    margin: auto;
}

.thumbImg {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    position: relative;
    margin: 5%;
    width: 90%;
    height: 90%;
    -webkit-transition: margin 0.5s, width 0.5s, height 0.5s, filter 0.5s, -webkit-transform 0.5s;
    transition: margin 0.5s, width 0.5s, height 0.5s, filter 0.5s, transform 0.5s;
    filter: brightness(1.0) blur(0px);
}

.thumbDiv:hover img {
    filter: brightness(0.4) blur(5px);
    width: 100%;
    height: 100%;
    margin: 0%;
}

/* Default styles for hovertext - invisible by default */
.hoverText {
    color: white;
    position: relative;
    margin-top: -60%;
    text-align: center;
    width: 15vw;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    font-size: 2em;
    z-index: 10;
    -webkit-transition: filter 0.5s, -webkit-transform 0.5s;
    transition: filter 0.5s, transform 0.5s;
    filter: opacity(0);
}

.thumbDiv:hover h3 {
    filter: opacity(1);
}


#trinity, #dumpster, #throw, #color {
    filter: opacity(0);
    display: none;
    padding-bottom: 20vh;
    -webkit-transition: filter 1s, -webkit-transform 1s;
    transition: filter 1s, transform 1s;
}

#work {
    margin: 0 25vw 0 27.5vw;
}

table {
    margin: auto;
    font-size: 1.5em;
    font-family: 'raleway', sans-serif;
}

thead {
    background-color: #999;
    color: black;
    text-align: center;
}

td, th {
    border-collapse: separate;
    padding: 10px;
    text-align: center;
}

th, td {
    border-bottom: 2px solid #aaa;
}

#tableDiv {
    margin: 10vh 20vw 0 20vw;
}

#trinityTransparent {
    background-color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
